[Unit]
Description=Agent A of Consul service running
[Service]
User=consul
ExecStart=/usr/bin/consul agent -data-dir=/etc/consul/data -node=agent-one -bind=192.168.56.103 -enable-script-checks=true -config-dir=/etc/consul.d
Restart=always
[Install]
WantedBy=multi-user.target