[Unit]
Description=Nodejs server running
[Service]
User=microservices
ExecStart=/usr/bin/python /home/microservices/microservice_a.py
Restart=always
[Install]
WantedBy=multi-user.target